<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<link rel="stylesheet" href="/static/style.css"/>
			<meta meta name="viewport" content="width=device-width, initial-scale=1">
			<title>{% block title %}{% endblock %}{{title}}</title>
		{% endblock %}
	</head>
	<body> 
	<header>The Titanic Tool</header>
		<div id="content"> 
			{% block content %}
			{% endblock %}
		</div>
			<div id="footer">
				{% block footer %}
					&copy; Copyright 2023 by NOAH DRUI
				{% endblock %}
			</div>
	</body>
</html>
