{% extends "base.twig" %}

{% block title %}
	{{title}}
{% endblock %}

{% block content %}
	<h1>{{title}}</h1>
	<form action="/login" method="POST">
		<input type="text" required="true" class="form-control" placeholder="Name" name="name">
		<input type="password" required="true" class="form-control" placeholder="Password" name="password">
		<button type="submit" name="login">Connect</button>
	</form>
{% endblock %}
