{% extends "base.twig" %}

{% block title %}
	Research
{% endblock %}

{% block content %}
  <h1>Research Results</h1>
    <p class="important">
       Here's the result for the passenger aged of {{age}}, {{sex}} from the {{class}} class.
    </p>
{% endblock %}
